<footer>
  <div class="footer-content">
    <h3>{{ site.title }}</h3>
    <p>Feito com &hearts;.</p>
    <ul class="socials">
      <li><a href="https://youtube.com/channel/UCxJf-i1jIPZMrB7sp6RWIHw"><i class="fa fa-youtube"></i></a></li>
      <li><a href="https://facebook.com/RayquazaBoladao"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://instagram.com/Rayquaza _Boladao"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://github.com/Rafael-Dev-21"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
</footer>
