<header class="caixa-grande">
  <nav class="logo">
    <h1>
      <img src="/images/logo.svg" style="width: 1em; height: 1em;" alt="Logo Rafael Dev 21, um R amarelo grande sobre um quadrado verde com borda amarela. Clique aqui para ir para a página inicial." title="Logo Rafael Dev 21"/>
    </h1>
    <h2>Rafael Dev 21</h2>
  </nav>
  <nav>
  <ul>
    <li><a href="/">main</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/sobre">sobre</a></li>
    <li><a href="/jogos">jogos</a></li>
    <li><a href="/mailme">email</a></li>
  </ul>
  </nav>
</header>
