<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Rayquaza Boladão">
    <title>{{ page.title }} | Rayquaza Boladão</title>
    
    <!-- link do estilo -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
    {% if page.head %}
    
    {% include {{ page.head }} %}
    
    {% endif %}
    
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
	  <![endif]-->
    
    {% include analytics.html %}
    
    {% include tag-manager.html %}
</head>