<button class="btn btn_primary botao" id="like_button" onclick="update();">Likes: <span id="likes">0</span></button>
<script>
  class LikeManager {
    constructor() {
      this._initialLikes = 0;
      this._asUserLiked = localStorage.getItem("{{ page.slug }}") === "true" ? true : false;
      fetchLikes();
    }
    
    fetchLikes() {
      const { data } = fetch('/.netlify/functions/fetch_likes_for_blog?slug={{ page.slug }}').then((res) => {
        return res.json();
      });
      
      this._initialLikes = data.likes;
    }
    
    addLike() {
      if(!this._asUserLiked) {
        this._initialLikes++;
        this._incrementLikes();
        localStorage.setItem("{{ page.slug }}", "true");
      }
    }
    
    private _incrementLikes() {
      fetch('/.netlify/functions/register_like?slug={{ page.slug }}', {
        method: 'POST'
      })
    }
    
    get likes() {
      return this._incrementLikes;
    }
  }
  
  const likeManager = new LikeManager();
  
  document.getElementById("like_button").addEventListener("click", function() {
    likeManager.fetchLikes();
    likeManager.addLike();
    document.querySelector('#likes').innerHTML = likes.likes;
  });
</script>