<!-- for mathjax support -->
{% if page.usemathjax %}
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    }
  </script>
  <script type="text/javascript" async
 src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
{% endif %}

{% if page.custom_js %}
  {% for js_file in page.custom_js %}
    <script async src="{{ js_file }}"></script>
  {% endfor %}
{% endif %}
