:root {
  font-family: "times new roman", roman, serif;
  --primary-color: green;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__title {
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: none;
}

.navbar__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar__item {
  padding: 5px;
  border-radius: 10px;
  margin-left: 3px;
  color: white;
  background-color: var(--primary-color);
}

.navbar__link {
  text-decoration: none;
  color: inherit;
}

.navbar__item--active {
  color: var(--primary-color);
  background-color: white;
}

.post {
  margin: 25px 12px;
  border-bottom: solid 1px var(--primary-color);
}

.highlight {
  overflow: scroll;
}

a {
  color: var(--primary-color);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  width: clamp(320px, 1200px, 100% - 2rem);
  margin-inline: auto;
}

@import "vim";
