<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/styles.css">

      <!--[if IE]>
        <script src="/assets/js/html5shiv.js"></script>
        <script src="/assets/js/respond.min.js"></script>
      <![endif]-->

    {% seo %}
    {% feed_meta %}

    <link rel="me" href="mailto:victorrafaelpereiraalves0202@gmail.com">
    <link rel="me" href="https://github.com/Rafael-Dev-21">
    <link rel="webmention" href="https://webmention.io/rafael-dev-21.github.io/webmention" />
  </head>
  <body>
    {% include navbar.html %}
	<main id="content">
    {{ content }}
	</main>
    {% include footer.html %}

    {% if page.math %}
    {% include mathjax.html %}
    {% endif %}

  </body>
</html>
