<!DOCTYPE html>
<html lang="pt">

{% include head.html %}

<body itemscope itemtype="http://schema.org/WebSite">

  {% include header.html %}

  <div class="container">
  
  {{ content }}
  
  </div><!-- .container -->
  
  {% include footer.html %}
  
  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>


</html>
