---
layout: default
---

<article class="post h-entry">
  <header class="header">
    {% if page.title %}
      <h1 class="p-name">{{ page.title }}</h1>    {% else %}
      <h1 class="p-name">Post Sem Titulo</h1>
    {% endif %}
  </header>
  <time datetime="{{ page.date }}" class="dt-p7blished">{{ page.date | date: "%d %b, %Y" }}</time>
  <div class="e-content">
    {{ content }}
  </div>
  {% if page.tags %}
  <hr>
  <p class="h-list">Tags: 
  {% for tag in page.tags %}
  	<em class="h-item"><strong>#{{ tag }}</strong></em>
  {% endfor %}
  </p>
  {% endif %}
  <p>Por: <a class="p-author p-name h-card vcard fn p-url url" href="/sobre" rel="me">Rafael 04th <img width="40px" height="40px" alt="site logo and my profile" href="/assets/images/logo.svg" class="u-photo u-logo" /></a></p>
  <footer>
    <script id="diffblog-plugin-script" async="false" src="https://diff.blog/static/js/diffblog_plugin_v1.js"></script>
    <script>
      document.getElementById("diffblog-plugin-script").addEventListener("load", function () {
        DiffBlog(
          "bhhnaql4dm2ccfvfa7xfy9gsdy47brqu095isix3yimnfssseq"
        );
      });
    </script>

    {% include webmentions.html %}
  </footer>
</article>
