---
layout: default
---
<article id="post">
  {% if page.hero %}
  <img src="{{ page.hero }}">
  {% endif %}
  {% if page.title %}
  <h1>{{ page.title }}</h1>
  {% else %}
  <h1>Post Sem Título</h1>
  {% endif %}
  <div><strong>Criado em:</strong> <time datetime="{{ page.date }}">{{ page.date | date: "%b %d, %Y" }}</time> <br /> <strong>Modificado em:</strong> <time datetime="{{ page.last_modified_at }}">{{ page.last_modified_at | date: "%b %d, %Y" }}</time></div>
  <hr>
  {{ content }}
  
  <hr>
  {% if page.comments %}
  <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://rafael-dev-21.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
</article>
