---
layout: default
---
<article id="post">
  {% if page.hero %}
  <img src="{{ page.hero }}">
  {% endif %}
  {% if page.title %}
  <h1>{{ page. title }}</h1>
  {% else %}
  <h1>Post Sem Título</h1>
  {% endif %}
  <div><strong>Criado em:</strong> <time datetime="{{ page.date }}">{{ page.date | date: "%b %d, %Y" }}</time> <br /> <strong>Modificado em:</strong> <time datetime="{{ page.last_modified_at }}">{{ page.last_modified_at | date: "%b %d, %Y" }}</time></div>
  <hr>
  {{ content }}
</article>
