.botao {
  background-color: $green;
  box-shadow: 1px 1px 0 darken($green, 15%);
  color: $white;
  @include font-size(1);
  
  &:hover, &:focus {
    outline: $black;
    border: $red;
  }
  
  @include breakpoint(small) {
    @include font-size(1, small);
  }
}