#page-container {
  position: relative;
  min-height: 100vh;
}

.conteudo {
  width: 96%;
  padding: 0 30px columns(2);
  margin: 20px auto 10px;
}

.cartao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  text-align: center;
  box-shadow: 2px 2px 2px var(--green-dark);
  border: solid 1.2px var(--green-dark);
  border-radius: 5px;
}
