.form-grupo {
  text-align: left;
  padding: units(.5);
  margin: units(0) auto;
  
  @include breakpoint(small) {
    padding: units(.5);
    margin: units(0) auto;
  }
}

.form-controle {
  @include font-size(0);
  border-radius: 1ex;
  padding: units(.5);
  
  @include breakpoint(small) {
    padding: units(.5);
  }
}