.lista {
  width: columns(5);
  margin: units(2) auto 0;
  list-style: none;
  text-align: center;
  
  li {
    @include font-size(1);
    margin-top: units(.5);
    text-align: left;
    
    @include breakpoint(small) {
      @include font-size(1, small);
      margin-top: units(.5, small);
    }
  }
  
  @include breakpoint(small) {
    width: 100%;
    margin: units(2, small) auto 0;
  }
}