.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: units(1);
  
  @include breakpoint(small) {
    margin-top: units(1, small);
  }
}

.nav__link {
  margin: units(.25);
  padding: units(.5);
  background-color: var(--green);
  color: var(--white);
  border-radius: 5px;
  text-decoration: none;
  
  &:hover {
    animation: beat 1s ease-in-out;
  }
  
  @include breakpoint(small) {
    margin: units(.25, small);
    padding: units(.5, small);
  }
}

@keyframes beat {
  from {
    transform: none;
  }
  
  50% {
    transform: scale3d(1.5, 1.5, 1.5);
  }
  
  to {
    transform: none;
  }
}
