.lista {
  display: grid;
  list-style-type: none;
  padding: units(.5);
  margin: units(.5) auto 0;
  
  grid-gap: units(.5);
  
  grid-template-columns: 1fr;
  grid-template-rows: 2 / auto;
  
  @include breakpoint(small) {
    padding: units(.5, small);
    margin: units(.5, small) auto 0;
    grid-gap: units(.5, small);
  }
}

.post {
  padding: 8px;
  margin: 0 auto;
  border-radius: 5px;
}
