@for $i from 1 through 12 {
  .largura#{$i} {
    width: columns($i);
    @include breakpoint(small) {
      width: columns($i, small);
    }
  }
  
  .altura#{$i} {
    height: columns($i);
    @include breakpoint(small) {
      height: columns($i);
    }
  }
}