.tema-escuro {
  background-color: $black;
  color: $white;
  
  &>.texto-estilizavel {
    color: $white;
  }
  
  .cabecalho .titulo, .conteudo>h1 {
    color: lighten($green, 30%);
  }
  
  &> a {
    color: lighten($red, 30%);
  }
}