.tema-escuro {
  background-color: $black;
  color: $white;
  
  .conteudo>.form-text {
    color: $white;
  }
  
  .cabecalho .titulo, .conteudo>h1 {
    color: lighten($green, 30%);
  }
  
  .conteudo>a {
    color: lighten($red, 30%);
  }
}