.cabecalho {
  margin: units(2) auto;
  text-align: center;
  
  .titulo,
  .logo {
    display: inline-block;
    height: units(6);
    vertical-align: top;
    
    @include breakpoint(small) {
      height: columns(1, small);
    }
  }
  
  .titulo {
    font-size: font-scale(3);
    line-height: units(6);
    margin: 0;
    color: $green;
    
    @include breakpoint(small) {
      font-size: font-scale(3, small);
      line-height: columns(1, small);
    }
  }
  
  .logo {
    margin-right: units(1);
    
    @include breakpoint(small) {
      margin-right: units(.5, small);
    }
  }
  
  @include breakpoint(small) {
    margin: units(2, small) auto;
  }
}